@model Task1.Models.ChangeRequestForm

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.projectName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.projectName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.moduleName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.moduleName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requestBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requestBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requestDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requestDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.changeRequestDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.changeRequestDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.signature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
